In [2]:
import numpy as np
import pandas as pd
import pickle

In [3]:
preprocessor=pickle.load(open("../../04_Streamlit_App/preprocess","rb"))
demo_model=pickle.load(open("../../04_Streamlit_App/demo","rb"))

In [4]:
#function preprecessing
from datetime import date
def clean(df):
    df.became_member_on=pd.to_datetime(df.became_member_on)
    df.insert(loc=3,value=df.became_member_on.dt.year,column="became_member_year") # year
    df.insert(loc=4,value=df.became_member_on.dt.month,column="became_member_month") # month
    df.insert(loc=5,value=df.became_member_on.dt.day,column="became_member_day") # day
    #to get login days
    max_day=date(2018,7,26)
    max_day=pd.to_datetime(max_day)
    value=(max_day - df.became_member_on).dt.days
    df.insert(loc=6,value=value,column="login_days")
    
    #convert time to object
    df.time=df.time.astype("O")
    
    df.drop("became_member_on",axis=1,inplace=True)
    
    return df

In [5]:
gender="F"
age=55
became_member_on="2017-07-15"
income=112000.0
event="transaction"
time=18
df=pd.DataFrame({"gender":gender,
                 "age":age,
                 "became_member_on":became_member_on,
                 "income":income,
                 "event":event,
                 "time":time},index=[0])

In [6]:
df

  gender  age became_member_on    income        event  time
0      F   55       2017-07-15  112000.0  transaction    18

In [7]:
df.dtypes

gender               object
age                   int64
became_member_on     object
income              float64
event                object
time                  int64
dtype: object

In [8]:
data=clean(df)
data

,gender,age,became_member_year,became_member_month,became_member_day,login_days,income,event,time
0,F,55,2017,7,15,376,112000.0,transaction,18

In [9]:
data.dtypes

gender                  object
age                      int64
became_member_year       int32
became_member_month      int32
became_member_day        int32
login_days               int64
income                 float64
event                   object
time                    object
dtype: object

In [10]:
pre=preprocessor.transform(data)
pre

array([[ 1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.06560014,  0.43355664,
         0.08003383, -0.10953929, -0.46716397,  2.2389915 ]])

In [11]:
demo_model.predict(pre)

array([0], dtype=int64)

In [12]:
#function to appear details of predict
def predict(x):
    if x == 0:
        print("No offer")
    elif x==1:
        print("offer is discount")
        print("Details : 5% discount ,minimum required spend to complete an offer =20 Dollar ,offer is open for 10 day ")
    elif x==2:
        print("offer is discount")
        print("Details : 3% discount ,minimum required spend to complete an offer =7 Dollar ,offer is open for 7 day ")
    elif x== 3:
        print("offer is discount")
        print("Details : 2% discount ,minimum required spend to complete an offer =10 Dollar ,offer is open for 7 day ")
        
    elif x==4:
        print("offer is informational")
        print("offer is open for 4 day ")
    
    elif x==5:
        print("offer is buy one get one [BOGO]")
        print("Details : minimum required spend to complete an offer =10 Dollar ,offer is open for 5 day ")
        
    elif x==6:
        print("offer is informational")
        print("Details : offer is open for 3 day ")
        
    elif x==7:
        print("offer is buy one get one [BOGO]")
        print("Details :minimum required spend to complete an offer =5 Dollar ,offer is open for 7 day ")

In [13]:
predict(demo_model.predict(pre)[0])

No offer